.key-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid hsl(263, 57%, 35%);
    background-color: whitesmoke;
}

.key-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 hsl(263, 57%, 35%);
    transform: translate(-0.1rem);
    transition: transform 150ms;
}

.key-prefix {
    padding: 1.5rem 2.5rem;
    background-color: hsl(263, 57%, 35%);
    color: white;
}

.key-text {
    padding: 1.5rem;
    width: 100%;

}

.correct {
    background-color: rgb(13, 154, 13);
}

.incorrect {
    background-color: rgb(230, 31, 31);
}

/* HuD */

#hud{
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid hsl(263, 57%, 35%);
    margin-top: 2rem;
}

#progressBarFull {
    height: 3.4rem;
    background-color: hsl(263, 57%, 35%);
    width: 0%;

}

/* LOADER */

#loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid hsl(263, 57%, 35%);
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }   
    100% {
        transform: rotate(360deg);
    } 
}